name: Tests

on:
  push:
    branches: ['master']
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ['master']

# Builds images for target boards.
permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.25']
        bun: ['latest']
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: Setup Bun ${{ matrix.bun }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}

      - name: Bun install
        run: bun install

      - name: Cache tools
        uses: actions/cache@v5
        with:
          path: |
            ./.tools
          key: ${{ runner.os }}-aptre-tools-${{ hashFiles('**/go.sum') }}

      - name: Build Javascript
        run: bun run build

      - name: Test Go
        run: bun run go:aptre -- test

      - name: Test Js
        run: bun test:js

      - name: Lint Js
        run: bun run lint:js

      - name: Lint Go
        run: bun run lint:go

      - name: Depcheck Js
        run: bun run deps

      - name: Install chrome
        uses: browser-actions/setup-chrome@latest

      # Issue: https://github.com/agnivade/wasmbrowsertest/issues/60
      # Remove the || true once fixed.
      - name: Test with chrome
        run: bun run go:aptre -- test --browser || true
